<div class="text-center">
    <h1 class="display-4">Soy Nicolás Pereira</h1>
    <h2>Soy un desarollador full stack especializado en tecnologías .NET y JavaScript.</h2>

    <img id="foto" src="~/imagenes/foto.jpg" alt="Foto" />

</div>